$color-black: rgb(0, 0, 0);
$color-white: #fff;
$color-grey: rgb(83, 83, 83);
$color-gold: #fffadb;
$color-primary:  #9f49a3;
$color-secondary: #fce5fd;
$color-gold-dark:#ffd900;
$color-menu:rgb(200,200,200);