//Zakupy boczne w sklepie
#menu{
    display: flex;
    position: fixed;
    z-index: 3;
    left: 100%;
    top: 0px;
    width: 300px;
    height: 100%;
    flex-direction: column;
    padding: 5px;
    background-color: $color-secondary;
    box-sizing: border-box;  
    overflow: hidden;

    //ikona menu w pasku bocznym
    &_btn-close{
        position: absolute;
        left:80%;

        img{
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
    }

    //Twoje zakupy i nazwa produktu
    h3, button{
        font-size: 15px;
        text-align: center;
    }

    ol{
        margin: 0px;
        padding: 0px;

        & li{      
            width: 100%;
            background: none;
            border:none;
            font-size: 15px;
            border-bottom: 1.5px solid rgb(255, 164, 172);
            margin-top: 5px;
            cursor: default;
            position: relative;
            transition: .4s ease-in;
            overflow: hidden;

            &:hover{
                border-color: rgb(255, 0, 0);
                border-top-right-radius: 5px
            }

            & .rem{
                border: none;
                background: none;
                font-size: 20px;
                cursor: pointer;
                position: absolute;
                color:red;
                left: 90%;
                top: -3px;
                width: 20px;
                height: 20px;
                box-shadow: none;
            }
        }
    }
    //Twoje zakupy
    h3{
        margin:15px 0px;
    }
    //Suma
    &_sum{
        & h1{
            font-size: 20px;
        }
    }
    //Przycisk Gotowe
    &_ready{
        margin-bottom: 10px;
        text-transform: uppercase;
        position: absolute;
        top: 90%;
        height: 50px;
        width: 200px;
        left: 50px;
        background: none;
        border: 2px solid $color-grey;
        color: $color-grey;        
        box-shadow: 1px 5px 5px lighten($color-grey, 40);
        cursor: pointer;
        transition: .2s ease-in-out;     
            
        &:hover{
            background: $color-grey;
            color: white;
        }

        &:active{
            transform: translateY(2px);
        }
    }
    //Pole z formularzami
    &_contact{
        position: absolute;
        top: 120px;
        transform: translateX(300px);
        background-color: $color-secondary;
        overflow: hidden;
        opacity: 0;
        //Twoje dane
        & h3{
            text-align: center;
            margin: 0px;
        }
        //ikona menu w pasku bocznym
        &-close{
        position: absolute;
        left:80%;
        top: 0px;

            img{
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }

        & form{

            & label{
                text-align: center;
            }
            & input{
                left: 10px;
                height: 25px;
                width: 90%;
                margin: 0px 5px;

                &[type=submit]{
                    margin: 10px 50px;
                    text-transform: uppercase;
                    height: 50px;
                    width: 200px;
                    background: none;
                    border: 2px solid $color-grey;
                    color: $color-grey;        
                    box-shadow: 1px 5px 5px lighten($color-grey, 40);
                    cursor: pointer;
                    transition: .2s ease-in-out;     
                        
                    &:hover{
                        background: $color-grey;
                        color: white;
                    }

                    &:active{
                        transform: translateY(2px);
                    }
                }
            }
        }
    }
}



//Zatrzymanie strony
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

#usun{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 60%;
    left: 45%;
    background-color: white;
    border: 2px solid $color-grey;
    cursor: pointer;

    &:hover{
        transform: scale(1.05);
    }
}

@media only screen and (max-width: 770px){

    #menu{
        border: 2px solid $color-grey;
        border-right: none;

        & ol li button{
            left: 85%;
        }
    }

}