//np. Najczęściej kupowane
.primary-text{
    background-image: linear-gradient(to right, $color-black, $color-gold-dark);
    display: inline-block;
    -webkit-background-clip: text;
    font-size: 40px;
    font-weight: 700;
    color:transparent;
    transition: all .3s;
    cursor: default;
    text-transform: uppercase;
    margin: 50px 0px;
}

//główne logo
.primary-logo-text{
    letter-spacing: 7px;
    color: black;
    font-size: 105px;
    font-weight: 700;
    cursor: default;
    text-transform: uppercase;
    animation: primary_logo-in 1s ease-out;
    margin-top: 5%;
}

//drugie logo
.secondary-logo-text{
    font-style: italic;
    margin: 0;
    font-size: 50px;
    color: black;
    animation: secondary_logo-in 2s .5s;
    animation-fill-mode: backwards;
}

//logo na sklepie
.shop-logo-text{
    letter-spacing: 10px;
    color: black;
    font-size: 80px;
    line-height: 300px;
    font-weight: 700;
    cursor: default;
    text-transform: uppercase;
    animation: primary_logo-in 2s ease-out;
    
}